//Variables
$background-color-light: rgba(222, 218, 231);
$background-color-solid: rgba(155, 144, 182);
$background-color-primary: rgba(164, 153, 190, 0.6);
$background-color-dark: rgba(133, 118, 167, 0.5);
$font-color-primary: rgb(60, 55, 68);

// former index.scss

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
  font-size: 0.875rem;
  text-size-adjust: none; /* for other mobile browsers */
}

.material-icons:hover{
  cursor: pointer;
}

#athena-logo{
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 90px;
}

input{
  text-align: center
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  code {
    background-color: #f9f9f9;
  }
}

$navbar-color: rgba(173, 182, 196, 1);
$navbar-focus: rgba(235, 235, 235, 0.7);

$transition-area: width 0.3s ease-in-out;


*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  position: relative;
  display: flex;
  // TODO figure out why are scroll bars activating
  height: 100vh;
  // this width is only here to remove the px so scroll bars don't appear
  width: calc(100vw - 14px); 

}

// currently absolute to get the element out of our way
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  position: absolute;
  right: 0px;
}

// sidebar
.sidebar {
  color: $font-color-primary;
  display: flex;
  // transition: $transition-area;
  width: 100%;
  height: 100vh;
  background: $background-color-solid;
}

.sidebar-closed{
  background: $background-color-solid;
  // transition: $transition-area;
  width: 5rem;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  //temp styling
  // background-color: blue;
  width: 5rem;
  padding-top: 1rem;
}

//TODO if file names are too large
// the .subfile padding will push it 
// out of the container
// File explorer
#file-system-container {
  transition: $transition-area;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 15rem;
  width: 100%;
}

#open-folder-button {
  margin-top: 20px;
  margin-bottom: 20px;
}
.material-icons#open-folder-button {
  font-size: 5rem; /* change the value to increase or decrease the size */
}

.root-directory {
  overflow: auto;
  height: 100%;
  hr{
    border-top: 1px solid rgba(0, 0, 0, .3);
    width: 100%;
  }
  .vl{
    border-left: 6px solid green;
    height: 500px;
  }
}

.root-directory-files {
  height: 100%;
}


.folder {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.sub-files{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 1rem;
  position:relative;
  .vl{
    border-left: 1px solid gray;
    height: 100%;
    position: absolute;
    left: 5;
    margin-left: -.5rem;
  }
}

.folder-button,
.file-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  width:100%;
}

.folder-button:hover,
.file-button:hover {
  background-color: $background-color-dark;
}

.folder-button:focus,
.file-button:focus {
  outline: none;
}
.folder-button-icon {
  fill: #d4d4d4;
}

.folder-button-icon.chevron-down {
  transform: rotate(90deg);
  transition: transform 0.1s ease-in-out;
}

.file-button-text {
  color: $font-color-primary;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1rem;
  // max-width: 15ch; // character text limit
  // white-space: nowrap; // prevent text from wrapping to a new line
  // overflow: hidden; // hide the overflow text
  // text-overflow: ellipsis; // add "..." at the end of the truncated text
}

// pages
#workshop-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#ui-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#rendered-component{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

// nav-container section
#navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #663EFF;
  height: 100px;
  ul {
    display: flex;
    justify-content: flex-start;
    // align-items: left;
    flex-direction: row;
    list-style-type: none;
    li {
      padding: 10px;
      a {
        padding: 10px;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: black;
        color: black;
        text-decoration: none;
      }
      a:focus, a:hover {
        // background-color: #5f67f0;
        box-shadow: inset 0 0 0 2em #FFC233;
      }
    }
  }
}
// temporary .props-toggle-nav addition, should have it's own styling later
.props-toggle-nav {
  background-color: $navbar-color;
  width: 100%;
  ul {
    width: 100%;
    display: flex;
    margin-left: 1rem;
    list-style-type: none;
    li {
      a {
        text-decoration: none;
        padding: 0 1.5em;
      }
      a:focus {
        background-color: $navbar-focus;
      }
    }
  }
}

#component-data {
  color: $font-color-primary;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 1.2rem 1.2rem 1.5rem 1.2rem;
  background: $background-color-primary;
  border: 0.1rem solid $background-color-dark;
  border-radius: 0.5rem;
  z-index: 20;
  #render-name{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    width: 90%;
  }
  #add-render{
    height: 3rem;
    width: 65%;
    font-size: 1rem;
  }
}

#navigation-area {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

// PropsWindow.jsx
.props-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  // padding: 20px 50px;
  overflow: auto;  
  textArea {
    width: 300px;
    height: 100px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    font-family: "Poppins";
  }

  button{
    margin-top: 20px;
  }
}

#props-header{
  position: relative;
  #overwrite-modal{
    box-shadow: 7px 3px 3px rgba(0, 0, 0, .3);
    border-radius: 5px;
    background:#747bff;
    border: 1px solid #5f67f0;
    padding: 5px 5px;
    position: absolute;
    height: 150px;
    top: 0.4rem;
    left: 3rem;
    button{
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.props-window {
  width: 100%;
  display: flex;
}

.props-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

#overwrite-modal{
  height: 200px;
  width: 200px;
  z-index: 100;
  border: 1px solid black;
}

#function-definitions{
  display:flex;
  align-items: center;
  input{
    border: 1px solid black;
  }
}

.saved-comp-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  border: 1px solid red;
  height: 100%;
  width: 100%;
}
.saved-comp-container{
  display:flex;
  justify-content: flex-start;
  align-items:center;
}

.graph-page{
  border: 1px solid red;
  width: 100%;
  height: 80%;
}

// actions panel in navigation area
.actions{
  // position: absolute;
  bottom: 15px;
  border: 1px solid black;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#screenshot-btn{
  position: absolute;
  top: 15px;
  right: 15px;
}

.actions::-webkit-scrollbar{ 
  width: 10px;
}

.actions::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color:  rgb(255, 255, 255, 0.25);;
}

.actions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}