/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #663eFF;
  --ifm-color-primary-dark: #7c5CFF;
  --ifm-color-primary-darker: #4B1FFF;
  --ifm-color-primary-darkest: #3100f5;
  --ifm-color-primary-light: #8D70FF;
  --ifm-color-primary-lighter: #AD99FF;
  --ifm-color-primary-lightest: #CeC2FF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

:root strong {
  color: #663eFF;
}

/* :root a {
  color: rgb(255,240,69);
} */



/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #663eFF;
  --ifm-color-primary-dark: #7c5CFF;
  --ifm-color-primary-darker: #4B1FFF;
  --ifm-color-primary-darkest: #3100f5;
  --ifm-color-primary-light: #8D70FF;
  --ifm-color-primary-lighter: #AD99FF;
  --ifm-color-primary-lightest: #CeC2FF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(255, 240, 69, 0.336);
  --strong: rgb(255, 240, 69);
}

[data-theme='dark'] strong {
  color:rgb(255,240,69);
}

